DATABASE_URL=postgresql+psycopg://postgres:sua_senha@localhost:5432/medstock
POSTGRES_PASSWORD=sua_senha
SECRET_KEY=defina_uma_chave_secreta_aleatoria
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
SUPER_ADMIN_EMAIL=admin@example.com
SUPER_ADMIN_SENHA=defina_uma_senha_forte
FERIADOSAPI_KEY=sua_chave_da_api_feriados_dev
SENHA_EMAIL=sua_senha_de_app_do_email
EMAIL_REMETENTE=seu_email_remetente@example.com
CHAVE_API_FERIADO=sua_chave_da_api_feriados_dev
